<HTML>
<%- include('myview.ejs') %>

	<BODY>
		<h3>Hi <%= username%></h3>
		
		<div>
		<div>
			<H1>Showing <%= source.length %> Restaurants</H1>
			<% if(criteria!="{}"){%>
				<div><p><%= criteria %>&nbsp;<a href="/"><button type="button">Reset</button></a></p></div>
				
			<%} %>
			
		</div>
</div>
<a href='/create'><button>Add New Restaurant</button></a>
	<table>
	<% source.forEach(function(restaurant) { %>
	<a href="/details?id=<%=restaurant._id %>"><br><%=restaurant.name %></a>
	<% });%>


<br>
</table>
	</BODY>
</HTML>
